<html>
    <head>
        <title>new file</title>
    </head>
    <body>
        <h2>Counter: <%= c %></h2>
        <a href="/ptwo">+2 click</a><br>
        <a href="/reset">reset</a>
    </body>
</html>